.venv/
.cache
__pycache__/
config/
dist/*.txt
data/
Data/
GUI_log/
fill_pattern_alignment/
config/average_SA_with_decimation/
old_scripts/
LiberaBLM_python_examples/
site/
docs/images/resources/
bitbucket-pipelines.yml
ty.toml
.nvim.lua
